---
---

@import "{{ site.theme }}";
h2 {
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  color: #293B5F;
}

h3{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color:#39A9CB;
  
}
p {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hr1{
  border:0;
  height: 3px;
  
  background: #A2DBFA;
  /*background: -webkit-linear-gradient(25deg, #FF94CC, #A239EA); */
  
  background: linear-gradient(to right,#A2DBFA, #5C33F6,#A2DBFA)
  /*background-image: linear-gradient(to right,#ccc,#095484,#ccc);*/
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 12px;
  }
  .btn {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
    transform: scale3d(1.09,1.09,1.09);
  }
  
