---
---

@import "{{ site.theme }}";
h2 {
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  color: #293B5F;
}

h3{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color:#39A9CB;
  
}
p {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hr1{
  border:0;
  height: 3px;
  
  background: #A2DBFA;
  /*background: -webkit-linear-gradient(25deg, #FF94CC, #A239EA); */
  
  background: linear-gradient(to right,#A2DBFA, #5C33F6,#A2DBFA)
  /*background-image: linear-gradient(to right,#ccc,#095484,#ccc);*/
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 12px;
  }
  .btn {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
    transform: scale3d(1.09,1.09,1.09);
  }
  img {
    padding: 10px;
  }

  .window {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
  }
  
  .image-container {
    width: 2250px;
    height: 300px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
  }
  
  .slide {
    float: left;
    margin: 0;
    padding: 0;
  }
  
  .button-container {
    top: -20px;
    position: relative;
  }
  
  .slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  #slide-1:target ~ .image-container {
    left: 0;
  }
  
  #slide-2:target ~ .image-container {
    left: -450px;
  }
  
  #slide-3:target ~ .image-container {
    left: -900px;
  }
  
  #slide-4:target ~ .image-container {
    left: -1350px;
  }
  
  #slide-5:target ~ .image-container {
    left: -1800px;
  }